#footer
.footer-section
  .footer-content
    each content in data.bacco.contact.content  
      if content.type === "program"
        .footer-program
          h3.footer-title #{content.title}
          ul.program-list
            each i in content.program
              if i.type === "date"
                li.footer-program-item
                  p.footer-days #{i.desc[0]}
                  span #{i.desc[1]}
      if content.type === "contact-details"
        //- h3.footer-title #{content.title}
        ul.footer-details-list
          each y in content.detalii
            if y.type === "detail"
              li.footer-details-item
                span.footer-details-span(class=`icon-${y.icon}`)
                p.footer-details-link !{y.address}
      if content.type === "social"
        //- h3.footer-title #{content.title}
        ul.footer-social-list
          each x in content.social
            li.footer-social-item
              a.footer-social-link(href=x.address target='_blank')
                span.footer-social-icon(class=`icon-${x.icon}`)
  .footer-title &copy Restaurant Bacco 2017
