input.contact-radio(type="radio", name="secitions" id="section-contact")
.contact-section
  .contact-wrapper
    h2.contact-title #{data.bacco.contact.title}
    h3.contact-desc #{data.bacco.contact.desc}
    .contact-content
      .map
        include contact-map
      ul.contact-delatis
        each gigikent, key in data.bacco.contact.content
          li.contact-item
            if gigikent.type === 'details'
              //- p=gigikent.list.adresa
              p #{gigikent.list.addressLabel} #{gigikent.list.address}
              p #{gigikent.list.phoneLabel} !{gigikent.list.phone}
              p #{gigikent.list.emailLabel} !{gigikent.list.email}
              .social
                p #{gigikent.list.socialLabel} 
                ul
                  each gigisocial in gigikent.list.social
                    li
                      a.contact-link(href=gigisocial.url, target="_blank")
                        span(class=gigisocial.icon)
